    <div class="buttons">
            <a href="/zakaznici" id="zakaznici">Zákazníci</a>
            <a href="/objednavky" id="objednavky">Objednávky</a>
            <a href="/produkty" id="produkty">Produkty</a>
            <a href="/dopravci" id="dopravci">Dopravci</a>
            <a href="/objednane-zbozi" id="objednane-zbozi">Objednané zboží</a>
            <a href="/statusy-objednavek" id="statusy-objednavek">Statusy objednávek</a>
    </div>
 

