<div class="sqlButtons">
    <a href="/dochazejici-produkty" id="dochazejici-produkty">Docházející produkty</a>
    <a href="/dospeli-zakaznici" id="dospeli-zakaznici">Dospělí zákaznící</a>
    <a href="/mladi-zakaznici" id="mladi-zakaznici">Mladí zákaznící</a>
    <a href="/nejdrazsi-objednavka" id="nejdrazsi-objednavka">Nejdražší objednávka</a>
    <a href="/nejlevnejsi-objednavka" id="nejlevnejsi-objednavka">Nejlevnější objednávka</a>
    <a href="/objednavky-k-odeslani" id="objednavky-k-odeslani">Objednávky k odeslání</a>
    <a href="/odeslane-objednavky" id="odeslane-objednakvy">Odeslané objednávky</a>
    <a href="/posledni-objednavka" id="posledni-objednavka">Poslední objednávka</a>
    <a href="/trzby" id="trzby">Tržby</a>
    <a href="/zakaznici-a-zbozi" id="zakaznici-a-zbozi">Zákaznící a zboží</a>
</div>
<h4 class="popisTabulky">Výběrové dotazy</h3>